.msp-preset-btn-192 {
        /* background-color: #fff; */
    color: #fff;
    border: 1px solid #8aaad8;
}

.msp-preset-btn-192:hover {
  /*  background-color: #f9f9f9 */
}

.msp-preset-btn-192:active {
    top: 1px
}

.msp-cn-163-1 {
    font-family: "lato";
    font-weight: 100;
    font-size: 38px !important;
    line-height: normal;
    color: #ffffff;
}

.msp-cn-163-2 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    line-height: normal;
}

.msp-cn-163-3 {
    font-family: "lato";
    font-weight: 100;
    font-size: 38px !important;
    line-height: normal;
    color: #ffffff;
    text-align: right;
    
}

.msp-cn-163-4 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
}

.msp-cn-163-5 {
    font-family: "lato";
    font-weight: 100;
    font-size: 38px !important;
    line-height: normal;
    color: #ffffff;
	text-align: left;
}

.msp-cn-163-6 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
}